{% extends 'base.html.twig' %}

{% block content %}

 <div class="container mt-4 ">
    <div class="row">
    {# je boucle sur la collection boat_list#}
    {% for boat in boat_list %}
    {# {{ dump(boat) }} #}
      <div class="card mb-5 col-6">

        <img src="{{ asset('uploads/pictures/' ~ (boat.picture ?: 'default-image.jpg')) }}" alt="Description produit" class="card-img-top">
        <div class="card-body">
        <h5 class="card-title">{{boat.name}}</h5>
        <p class="card-text"> {{boat.price}} 	&#x20AC;</p>
        <p class="card-text">{{boat.description}}</p>
        <p class="card-text"><small class="text-muted">Modifiéé le :{{boat.updatedAt|date("d/m/Y")}}</small></p>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}