<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ path('boats') }}">Bâteaux</a></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{{ path('motor_boats') }}">Moteur</a></li>
          <li><a class="text-muted" href="{{ path('sailing_ship') }}">A voile</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ path('kayaks') }}">Kayak</a></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{{ path('sea_kayak') }}">De mer</a></li>
          <li><a class="text-muted" href="{{ path('river_kayak') }}">De rivière</a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ path('paddle') }}">Paddle</a></h5>
        <ul class="list-unstyled text-small">
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><a href="{{ path('surf') }}">Surf</a></h5>
      </div>
    </div>
    <p id="copyright">&copy; Céline D.</p>
  </footer>
